name CPP
<Model::DB>
        schema_class CPP::Object
	<connect_info>
		dsn dbi:mysql:database=cpp
		user dbuser
		password dbpass
		mysql_enable_utf8 1
	</connect_info>
</Model::DB>
<CloudMade>
	api_key 1ee74cb072fddd9bccca4b89edd84f2c
</CloudMade>
