<&| comp/page.html, title=>'Country list' &>
<%perl>
my($COUNTRY,$LETTER);
foreach my $country ($c->model('DB::Country')->all) {
	my($id,$name)=($country->id,$country->name);
	$COUNTRY->{$id} = $name;
	push @{$LETTER->{lc(substr($name,0,1))}}, $id;
}
</%perl>
<div id="content">
<div class="grid_12">

<h1 id="top">Continent list
    <ul class="inline linkbar">
        <li>
        Content:
        <ul class="links">
			<li id="current">Continents</li>
			<li><a href="/country/">A-Z</a></li>
        </ul>
    </ul>
</h1>
</div>
<div class="clear"></div>
% foreach my $region ($c->model('DB::Region')->all) {
<div class="grid_3">
<h2 class="initial" id="<% $region->id |u%>"><% $region->name %></h2>
</div>
<div class="country-list grid_9">
% foreach my $country ($region->countries->search({},{order_by=>'name'})) {
%#   my $country = $rc->country;
<a href="/country/<% $country->id |u%>"><% $country->name %></a><br/>
% }
</div>
<div class="clear"></div>
<hr/>
% }
</div>
</&>