<&| /comp/page.html, title=>'Home' &>

<div id="map" style="height:480px; "></div> 

<div id ="MapPlayControls">

	SHOW: <strong><a href="">TODAY</a></strong> : <a href="">LAST WEEK</a> <strong>| </strong>
		<span id="playbutt">
			<img src="<% $c->uri_for('/static') %>/img/playButton.png"/>
		</span> 
	REPLAY LAST WEEK




</div>


<h1>Current Incidents</h1>


<script type="text/javascript">
var map;



$(document).ready(function(){
	function zoomPad(options) {

	    this.control = new OpenLayers.Control.ZoomPanel(options);

	    OpenLayers.Util.extend(this.control,{
	        draw: function(px) {
	            // initialize our internal div
	            OpenLayers.Control.prototype.draw.apply(this, arguments);
	            px = this.position.clone();

	            // place the controls
	            this.buttons = [];

	            var sz = new OpenLayers.Size(18,18);
	            var centered = new OpenLayers.Pixel(px.x+sz.w/2, px.y);

	            this._addButton("zoomin", "zoom-plus-mini.png", centered.add(0, 5), sz);
	            this._addButton("zoomout", "zoom-minus-mini.png", centered, sz);
	            return this.div;
	        }
	    });
	    return this.control;
	}
	
	map = new OpenLayers.Map('map',{
/*         controls: [
                   new OpenLayers.Control.Navigation(),
                   new zoomPad({}),
                   new OpenLayers.Control.KeyboardDefaults()
               ],
               numZoomLevels: 6
                */
    });
	var cloudmade = new OpenLayers.Layer.CloudMade("CloudMade", {
	    key: '<% $c->config->{'CloudMade'}->{'api_key'} %>',
	    styleId: 48233
	});
	map.addLayer(cloudmade);
    map.layers[0].animationEnabled = true;
	var prj =  new OpenLayers.Projection("EPSG:4326");
    map.setCenter(new OpenLayers.LonLat(0,15).transform(prj,map.getProjectionObject()), 1.5);
});
</script>

</&>
